<div class="container mt-5">
  <h1>Stupid Coaching</h1>
  <form action="/answer" data-turbo="false">
    <label for="/answer" class="form-label">Ask your caoch anything :</label>
    <div class="input-group mb-3">
      <input type="text" name="page" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</div>
